# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
Icon?
ehthumbs.db

# LaTeX
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.gz
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.upa
*.urx
*.synctex.gz

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio
.vs/
.vscode/
.idea/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer logs
*.log
